.mytable {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.mytable td, .mytable th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.mytable tr:nth-child(even) {
  background-color: #dddddd;
}

.sonuc{
font:bold;
}